Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a popular, open-source, NoSQL (non-relational) database management system. Unlike traditional SQL databases, which are based on a relational model and use tables to store data, MongoDB stores data in flexible, JSON-like documents with optional schemas. in mongo db we can store structured and semi structured data

Non-relational databases (or NoSQL databases) are a class of database management systems that do not follow the traditional relational database model. They are designed to handle diverse data types and allow for horizontal scalability, making them suitable for scenarios where large volumes of rapidly changing or unstructured data need to be processed and stored.

Scenarios where MongoDB is preferred over SQL databases:

1)Flexible Schema
2)when we have to store rapidly changed data
3)when we have to store large amount of data 
4)for performing complex queries on json data

Q2. State and Explain the features of MongoDB.

features of mongo db:

1) Flexible Schema: MongoDB is schema-less, allowing you to store data without a predefined schema. This flexibility accommodates changes in data structure over time, making it ideal for evolving applications.

2) JSON-like Documents: Data is stored in BSON (Binary JSON) format, which supports rich data types and nested structures, similar to JSON objects. This makes it easy to work with complex data models.

3) Ad Hoc Queries: MongoDB supports ad hoc queries, allowing you to search for specific fields, perform range queries, and filter data using a flexible query language.

4) Horizontal Scalability: MongoDB can scale horizontally across multiple servers and data centers, distributing the data and read/write operations, ensuring high availability and fault tolerance.

5) High Availability: MongoDB supports replica sets, ensuring automatic failover and data redundancy. In case of a primary node failure, a secondary node can be automatically promoted to primary, ensuring continuous operation.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp\anaconda3\lib\site-packages (4.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pymongo) (2.4.2)

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://vidhi2821426:pwskills@cluster0.ikfinuo.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
db = client['pwskills1']

In [4]:
data = {
    "vidhi":426,
    "arpita":401
    
}

In [5]:
coll_create = db["my_record"]

In [6]:
coll_create.insert_one(data)

In [7]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6530eb833e7cd409f0815103'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530ec643e7cd409f0815104'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530ec973e7cd409f0815105'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530ec973e7cd409f0815106'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530ec973e7cd409f0815107'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530ec973e7cd409f0815108'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530ec973e7cd409f0815109'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530ec973e7cd409f081510a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530ec973e7cd409f081510b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530ec973e7cd409f081510c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530ec973e7cd409f081510d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530ec973e7cd409f081510e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530ec973e7cd409f081510f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530ec973e7cd409f0815110'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6530edfd3e7cd409f0815111'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530edfd3e7cd409f0815112'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530edfd3e7cd409f0815113'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530edfd3e7cd409f0815114'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530ee033e7cd409f0815115'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530ee033e7cd409f0815116'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530ee033e7cd409f0815117'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530ee033e7cd409f0815118'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530ee153e7cd409f0815119'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530ee153e7cd409f081511a'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530ee153e7cd409f081511b'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530ee153e7cd409f081511c'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530f1c89830a1badf6bd0d8'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530f1c89830a1badf6bd0d9'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530f1c89830a1badf6bd0da'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530f1c89830a1badf6bd0db'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530f1c89830a1badf6bd0dc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530f1c89830a1badf6bd0dd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530f1c89830a1badf6bd0de'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530f1c89830a1badf6bd0df'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6530f1c99830a1badf6bd0e6'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530f1c99830a1badf6bd0e7'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530f1c99830a1badf6bd0e8'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530f1c99830a1badf6bd0e9'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530f2008dc28eb4f9ba71ae'), 'vidhi': 426, 'arpita': 401}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
data1 = {
    "isha":426,
    "shivam":401
    
}
coll_create.insert_one(data1)

In [9]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [10]:
coll_create.insert_many(data3)

In [11]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6530eb833e7cd409f0815103'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530ec643e7cd409f0815104'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530ec973e7cd409f0815105'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530ec973e7cd409f0815106'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530ec973e7cd409f0815107'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530ec973e7cd409f0815108'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530ec973e7cd409f0815109'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530ec973e7cd409f081510a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530ec973e7cd409f081510b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530ec973e7cd409f081510c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530ec973e7cd409f081510d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530ec973e7cd409f081510e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530ec973e7cd409f081510f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530ec973e7cd409f0815110'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6530edfd3e7cd409f0815111'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530edfd3e7cd409f0815112'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530edfd3e7cd409f0815113'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530edfd3e7cd409f0815114'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530ee033e7cd409f0815115'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530ee033e7cd409f0815116'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530ee033e7cd409f0815117'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530ee033e7cd409f0815118'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530ee153e7cd409f0815119'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530ee153e7cd409f081511a'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530ee153e7cd409f081511b'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530ee153e7cd409f081511c'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530f1c89830a1badf6bd0d8'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530f1c89830a1badf6bd0d9'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530f1c89830a1badf6bd0da'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530f1c89830a1badf6bd0db'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530f1c89830a1badf6bd0dc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530f1c89830a1badf6bd0dd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530f1c89830a1badf6bd0de'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530f1c89830a1badf6bd0df'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6530f1c99830a1badf6bd0e6'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530f1c99830a1badf6bd0e7'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530f1c99830a1badf6bd0e8'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530f1c99830a1badf6bd0e9'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530f2008dc28eb4f9ba71ae'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530f2018dc28eb4f9ba71af'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71ba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71bb'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [12]:
for i in coll_create.find_one():
    print(i)

_id
vidhi
arpita

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [13]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6530eb833e7cd409f0815103'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530ec643e7cd409f0815104'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530ec973e7cd409f0815105'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530ec973e7cd409f0815106'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530ec973e7cd409f0815107'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530ec973e7cd409f0815108'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530ec973e7cd409f0815109'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530ec973e7cd409f081510a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530ec973e7cd409f081510b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530ec973e7cd409f081510c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530ec973e7cd409f081510d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530ec973e7cd409f081510e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530ec973e7cd409f081510f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530ec973e7cd409f0815110'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6530edfd3e7cd409f0815111'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530edfd3e7cd409f0815112'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530edfd3e7cd409f0815113'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530edfd3e7cd409f0815114'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530ee033e7cd409f0815115'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530ee033e7cd409f0815116'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530ee033e7cd409f0815117'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530ee033e7cd409f0815118'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530ee153e7cd409f0815119'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530ee153e7cd409f081511a'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530ee153e7cd409f081511b'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530ee153e7cd409f081511c'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530f1c89830a1badf6bd0d8'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530f1c89830a1badf6bd0d9'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530f1c89830a1badf6bd0da'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530f1c89830a1badf6bd0db'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530f1c89830a1badf6bd0dc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530f1c89830a1badf6bd0dd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530f1c89830a1badf6bd0de'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530f1c89830a1badf6bd0df'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6530f1c99830a1badf6bd0e6'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530f1c99830a1badf6bd0e7'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530f1c99830a1badf6bd0e8'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530f1c99830a1badf6bd0e9'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530f2008dc28eb4f9ba71ae'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530f2018dc28eb4f9ba71af'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71ba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71bb'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [14]:
# sort method is used for sorting the data according to the user specification.we can sort the data in ascending and descending order
data4 = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 22},
    {"name": "Charlie", "age": 28},
    {"name": "David", "age": 20}
]
coll_create.insert_many(data4)
sorted_results = coll_create.find().sort("age", -1)
for document in sorted_results:
    print(document)

{'_id': ObjectId('6530edfd3e7cd409f0815113'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530ee033e7cd409f0815117'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530ee153e7cd409f081511b'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530f1c99830a1badf6bd0e8'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530f2018dc28eb4f9ba71be'), 'name': 'Charlie', 'age': 28}
{'_id': ObjectId('6530edfd3e7cd409f0815111'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530ee033e7cd409f0815115'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530ee153e7cd409f0815119'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530f1c99830a1badf6bd0e6'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530f2018dc28eb4f9ba71bc'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6530edfd3e7cd409f0815112'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530ee033e7cd409f0815116'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530ee153e7cd409f081511a'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530f1c99830a1badf6bd0e7'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530f2018dc28eb4f9ba71bd'), 'name': 'Bob', 'age': 22}
{'_id': ObjectId('6530edfd3e7cd409f0815114'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530ee033e7cd409f0815118'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530ee153e7cd409f081511c'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530f1c99830a1badf6bd0e9'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530f2018dc28eb4f9ba71bf'), 'name': 'David', 'age': 20}
{'_id': ObjectId('6530eb833e7cd409f0815103'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530ec643e7cd409f0815104'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530ec973e7cd409f0815105'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530ec973e7cd409f0815106'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530ec973e7cd409f0815107'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530ec973e7cd409f0815108'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530ec973e7cd409f0815109'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530ec973e7cd409f081510a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530ec973e7cd409f081510b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530ec973e7cd409f081510c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530ec973e7cd409f081510d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530ec973e7cd409f081510e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530ec973e7cd409f081510f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530ec973e7cd409f0815110'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6530f1c89830a1badf6bd0d8'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530f1c89830a1badf6bd0d9'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530f1c89830a1badf6bd0da'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530f1c89830a1badf6bd0db'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530f1c89830a1badf6bd0dc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530f1c89830a1badf6bd0dd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530f1c89830a1badf6bd0de'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530f1c89830a1badf6bd0df'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530f1c89830a1badf6bd0e5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6530f2008dc28eb4f9ba71ae'), 'vidhi': 426, 'arpita': 401}
{'_id': ObjectId('6530f2018dc28eb4f9ba71af'), 'isha': 426, 'shivam': 401}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71b9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71ba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6530f2018dc28eb4f9ba71bb'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [15]:
# Delete a single document where the field 'name' is 'Alice'
db.coll_create.delete_one({"name": "Alice"})

In [16]:
# Delete all documents where the field 'age' is greater than 30
db.coll_create.delete_many({"age": {"$gte": 20}})

In [17]:
# Drop the entire collection
db.coll_create.drop()