Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
var1 = 'pwskills'
var2 = ['abc',20,60,7+8j,'def']
var3 = 9.7876
var4 = (7,8,9)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
type(var1)
type(var2)
type(var3)
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
A = 7
B = 4
A/B
A%B
A//B
A**B

2401

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
l = [23,34.4,'n','ludo',4+5j,99,True,[45,60,90],None,('ab','bd')]
for i in l :
    print("The element is ",i,"and it data type is",type(i))
l[7][0]

The element is  23 and it data type is <class 'int'>
The element is  34.4 and it data type is <class 'float'>
The element is  n and it data type is <class 'str'>
The element is  ludo and it data type is <class 'str'>
The element is  (4+5j) and it data type is <class 'complex'>
The element is  99 and it data type is <class 'int'>
The element is  True and it data type is <class 'bool'>
The element is  [45, 60, 90] and it data type is <class 'list'>
The element is  None and it data type is <class 'NoneType'>
The element is  ('ab', 'bd') and it data type is <class 'tuple'>

45

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
A=42
B=2
i = 0
while A%B==0:
    A=A//B
    i=i+1
print(i)

1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
li=[23,45,66,89,99,34,50,67,89,33,21,20,76,65,54]
for i in li:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

23 is not divisible by 3
45 is divisible by 3
66 is divisible by 3
89 is not divisible by 3
99 is divisible by 3
34 is not divisible by 3
50 is not divisible by 3
67 is not divisible by 3
89 is not divisible by 3
33 is divisible by 3
21 is divisible by 3
20 is not divisible by 3
76 is not divisible by 3
65 is not divisible by 3
54 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [8]:
# mutable means we can change the values of any particular index
# and immuatable means we can't change the values  on any particular index
li[5]= "vidhi"
print(li)
str1 = "vidhi"
str1[2]='t'

[23, 45, 66, 89, 99, 'vidhi', 50, 67, 89, 33, 21, 20, 76, 65, 54]

TypeError: 'str' object does not support item assignment

In [9]:
my_list = [1, 2, 3]

new_list = my_list

new_list.append(4)

print(my_list)

[1, 2, 3, 4]